{
  "presets": [
    ["env", {
      "targets": {
        "node": "8.9.4",
      },
    }],
  ],
  "retainLines": true,
  "plugins": [
    "syntax-class-properties",
    "syntax-flow",
    "transform-class-properties",
    "transform-flow-comments",
    "transform-object-rest-spread",
    ["transform-runtime",{"polyfill":false,"regenerator":true}],
  ],
}
